:root
{
    --uca-background: #2b2b2b;
    --uca-background-hover: #3a3a3a;
    --uca-text-color: #ffffff;
    --uca-header-background: #3c3f41;
    --uca-button-background: #8c552a;
    --uca-main-background: #313335;
    --uca-component-background: #515356;
    --uca-component-border: #919293;
    --uca-item-background: #5d5d5d;
    --uca-item-id-background: #1d1d1d;
    --uca-button-drop-hover: #448cbd;
}

::-webkit-scrollbar
{
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-track
{
    background: var(--uca-background);
    transition: 1.5s;
}

::-webkit-scrollbar-track:hover
{
    background: var(--uca-background-hover);
}

::-webkit-scrollbar-thumb
{
    background: #606568;
    border: 3px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover
{
    background: #7a8185;
    border: 3px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
}

::-webkit-scrollbar-corner
{
    background: #606568;
    border-radius: 5px;
    border: 3px solid transparent;
    background-clip: content-box;
}

*
{
    margin: 0;
    padding: 0;
    color: white;
}

body
{
    background: var(--uca-background);
    padding: 100px 0 50px;
}

header
{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: var(--uca-header-background);
    top: 0;
    height: 100px;
    width: 100%;
}

header div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;

    background: var(--uca-header-background);
    height: 50px;
    width: 100%;
}

footer a
{
    text-decoration: none;
    color: hotpink;
}

div#main-content
{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: var(--uca-main-background);
    overflow-x: hidden;
    overflow-y: auto;

    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%
}

div#error-page
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    height: 100%;

    align-items: center;
    gap: 20px;
}

div#error-page h1
{
    font-size: 3em;
}

div#error-page p
{
    font-size: 1.3em;
}

div#error-page img
{
    margin-top: 50px;
}

.collapse-block
{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.collapse-header
{
    cursor: pointer;
    min-height: 50px;
    gap: 20px;
}

.collapse-header-active, .collapse-header:hover
{
    filter: brightness(120%);
}

.collapse-header-active:hover
{
    filter: brightness(150%);
}

.collapse-content
{
    width: 100%;
    max-height: 0;
    overflow: auto;
    transition: max-height 0.3s ease-out;
}

.collapse-arrow
{

}

.collapse-block
{
    /*border: 2px solid var(--uca-component-border);*/
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* STICKERS */
.collapse-content div.display-component-block
{
    border-radius: 0;
}

.display-component-block
{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: var(--uca-component-background);

    padding: 0 5px 0 5px;
    width: calc(100% - 12px);
    height: 50px;

    gap: 5px;

    border-radius: 10px;
    border: 1px dotted var(--uca-component-border);
}

.display-component-block[class*="collapse-header-active"]
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.component-values
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;

    width: 100%;
    height: 100%;
}

.component-id
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;

    color: lightcyan;
    background: var(--uca-item-id-background);
    border: 1px dashed var(--uca-component-border);
    border-radius: 10px;
    padding: 0 5px 0 5px;
}

.component-values a.component-value
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;

    background: var(--uca-item-background);
    border: 1px dashed var(--uca-component-border);
    border-radius: 10px;
    padding: 0 5px 0 5px;
}

.component-flex-fit
{
    flex: 1;
}

.sticker-color
{
    flex: border-box;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--uca-sticker-color);
}

.component-edit
{
    display: none;
    visibility: collapse;
}

a.component-link
{
    font-size: 1.8em;
    text-decoration: none;
    transition: transform 0.2s ease-out;
    margin: 0 0 0 10px;
}

a.component-link:hover
{
    transform: scale(120%);
}

input[type="text"],
input[type="password"]
{
    background: var(--uca-component-background);
    border: transparent;
    height: 30px;
    border-radius: 10px;

    padding: 0 5px 0 5px;
}

div#login-page
{
    display: flex;
    justify-content: center;
    align-content: center;

    height: 100%;
}

form[name="login"]
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    gap: 10px;
}

input[type="button"],
input[type="submit"],
input[type="date"]
{
    background: var(--uca-component-background);
    border: transparent;
    height: 30px;
    padding: 0 5px 0 5px;
    border-radius: 10px;

    transition: filter 0.2s;
    cursor: pointer;
}

input[type="button"]:hover,
input[type="submit"]:hover
{
    filter: brightness(120%);
}

input[type="color"]
{
    -moz-appearance: none;
    -webkit-appearance: none;
    border: transparent;
    background: none;
    filter: drop-shadow(0 0 2px var(--uca-button-drop-hover));
}

input[type="color"]::-moz-color-swatch,
input[type="color"]::-webkit-color-swatch
{
    border-radius: 50%;
}

input[type="checkbox"]
{
    appearance: none;
}

.display-component-block input[type="button"]
{
    background: var(--uca-item-background);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

select
{
    background: var(--uca-item-background);
    height: 100%;
    border: transparent;
}

select option
{
    background: var(--uca-item-background);
}

form.form-add-component
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    width: calc(100% - 10px);
    padding: 5px 5px 5px 5px;
}

form.form-add-component label
{
    height: 100%;
}

form.form-add-component input[type="submit"]
{
    filter: drop-shadow(0 0 1px var(--uca-button-drop-hover));
}

form.form-add-component input[type="submit"]:hover
{
    filter: drop-shadow(0 0 2px var(--uca-button-drop-hover)) brightness(120%);
}

form.form-add-component input[type="color"]
{
    height: 30px;
    width: 30px;
}

form.form-add-component input[type="text"]
{
    width: 100%;
}

form.component-edit input[type="text"]
{
    background: var(--uca-item-background);
}

.button-checkbox-equiv ~ div.component-values
{
    display: none;
    visibility: collapse;
}

.button-checkbox-equiv ~ form.component-edit
{
    display: flex;
    visibility: visible;
    width: calc(100% - 20px);
    padding: 0 10px 0 10px;
    gap: 10px;
}

form.component-edit input[type="color"]
{
    width: 30px;
    height: 30px;
}

form.component-edit .component-flex-fit input
{
    width: 100%;
}