<form method="post" name="login" action="/login">
    <label>
        <input type="text" placeholder="username" name="user">
    </label>
    <label>
        <input type="password" placeholder="password" name="pwd">
    </label>
    <input type="submit" value="Log in">
</form>
